/* Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 9, 36);
  height: 100vh;

  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 16vh;
  }

  .preview {
    height: 80vh;
    width: 100vw;
    border:3px red;
  }
}





